#container{
  height: calc(100vh - 121px);
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  background: repeating-linear-gradient(
    0deg,
    #79a0e3 0px,
    #79a0e3 10px,
    #668cd7 10px,
    #668cd7 50px,
    #79a0e3 50px,
    #79a0e3 60px,
    #5576c5 60px,
    #5576c5 90px,
    #79a0e3 90px,
    #79a0e3 100px,
    #4c69b8 100px,
    #4c69b8 140px,
    #79a0e3 140px,
    #79a0e3 150px,
    #4660b4 150px,
    #4660b4 160px,
    #79a0e3 160px,
    #79a0e3 170px,
    #5576c5 170px,
    #5576c5 190px
  );
}
app-foto-pokemon{
margin-left: 100px;
z-index: 2;
}
#tarjetaContainer{
display: flex;
flex-direction: column;
gap: 10px;
max-height: 550px;
overflow-y: auto;
overflow-x: hidden;
margin-right: 20px;
}
#tarjetaContainer::-webkit-scrollbar {
  width: 10px; /* ancho de la barra de desplazamiento */
}

#tarjetaContainer::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color de fondo de la pista de la barra de desplazamiento */
}

#tarjetaContainer::-webkit-scrollbar-thumb {
  background-color: #ec0707b9; /* color del control deslizante de la barra de desplazamiento */
  border-radius: 5px; /* radio de borde del control deslizante */
}

#tarjetaContainer::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color del control deslizante al pasar el mouse */
}
/*app detalle*/
app-detalle{
  position: absolute;
  z-index: 2;
  left: -95vw;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.abierto{
left: 0;
}
